<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link rel="stylesheet" href="/static/CSS/styling.css">
</head>

<body align="center">
<h1>{{ y }}</h1>
<ol>
    <li><a href="/"> INVENTORY</a></li>
    <li><a href="/contact">CONTACT US</a>></li>
    <li><a href="/about">ABOUT</a>></li>
</ol>
<h3><center>MBUGUAS PROFILE ></center></h3>
<img src="power.jpg" alt="power" width="500">
<h3><center>MBUGUAS PROFILE ></center></h3>
<p style="background:indianred; font-family:'Leelawadee UI'">ready or not here I come.<br>
yaah</p>
<p>below is a list of my interest #ol standard for ordered list</p>
<ol>
    <li>HTML</li>
    <li>data analytics</li>
</ol>

<a href="https://www.netflix.com/browse" target="blank">check out my page</a>
<table align="center" border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Nelly</td>
        <td>nellieshira@gmail.com</td>
    </tr>
    <tr>
        <td>2</td>
        <td>John</td>
        <td>john@gmail.com</td>
    </tr>
</table>
<form align="center" method="post" action="/">
    <label>Full Name: </label> <input type="text" name="full_name"><br><br>
    <label>Email: </label> <input type="email" name="Email"><br><br>
    <label>Password:</label> <input type="password" name="password"><br><br>
    <input required type="submit" value="Register">
</form>
</body>

</html>